<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbhyggfwpt.mapper.AlarmRecordMapper" >

	<sql id="tableName">
		alarmrecord
	</sql>

	<sql id="Field">
			id, terminal_id, img_path, alarm_msg, alarm_time, alarm_site, alarm_type, alarm_category,typecode,thumbnailPath,
        status, remark, image_md5, image_size, image_name, image_ext, area_sign,
        dealstatus, dealrole, addId, addName, aqjcId, aqjcDetailIds,processId,taskId,depId,
        depBianma,depName,bmpimg_path,alarm_terminal_id
	</sql>

    <resultMap id="baseResultMap" type="com.mbhyggfwpt.entity.AlarmRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="terminal_id" property="terminalId" jdbcType="BIGINT" />
        <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
        <result column="alarm_msg" property="alarmMsg" jdbcType="VARCHAR" />
        <result column="alarm_time" property="alarmTime" jdbcType="TIMESTAMP" />
        <result column="alarm_site" property="alarmSite" jdbcType="VARCHAR" />
        <result column="alarm_type" property="alarmType" jdbcType="VARCHAR" />
        <result column="alarm_category" property="alarmCategory" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="image_md5" property="imageMd5" jdbcType="VARCHAR" />
        <result column="image_size" property="imageSize" jdbcType="BIGINT" />
        <result column="image_name" property="imageName" jdbcType="VARCHAR" />
        <result column="area_sign" property="area_sign" jdbcType="VARCHAR" />
        <result column="dealstatus" property="dealStatus" jdbcType="VARCHAR" />
        <result column="dealrole" property="dealRole" jdbcType="VARCHAR" />
        <result column="processId" property="processId" jdbcType="VARCHAR" />
        <result column="taskId" property="taskId" jdbcType="VARCHAR" />
        <result column="aqjcId" property="aqjcId" jdbcType="BIGINT" />
        <result column="aqjcDetailIds" property="aqjcDetailIds" jdbcType="VARCHAR" />
        <result column="thumbnailPath" property="thumbnailPath" jdbcType="VARCHAR" />
        <result column="depId" property="depId" jdbcType="VARCHAR" />
        <result column="depBianma" property="depBianma" jdbcType="VARCHAR" />
        <result column="depName" property="depName" jdbcType="VARCHAR" />
        <result column="videoPath" property="videoPath" jdbcType="VARCHAR" />
        <result column="bmpimg_path" property="bmpimgPath" jdbcType="VARCHAR" />
        <result column="alarm_terminal_id" property="alarmTerminalId" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 根据传入的时间，查询该时间段各告警类型的数量 -->
    <select id="listByTimeAndGroupType" resultType="map">
        SELECT alarm_type as alarmType,count(*) as alarmCount
        FROM <include refid="tableName"></include>
        where 1=1
        <if test="startTime !=null and startTime != ''">
          AND alarm_time &gt;= #{startTime }
        </if>
        <if test="endTime != null and endTime != ''">
          AND alarm_time &lt;= #{endTime }
        </if>
        group by alarm_type
    </select>

    <!-- 查询重复（接口） -->
    <select id="checkReapt" parameterType="map" resultMap="baseResultMap">
        select <include refid="Field"></include>
        from <include refid="tableName"></include>
        where 1=1
        <if test="alarmTimePar !=null and alarmTimePar != ''">
            AND alarm_time = #{alarmTimePar }
        </if>
        <if test="alarmTypePar != null and alarmTypePar != ''">
            AND alarm_type = #{alarmTypePar }
        </if>
        <if test="alarmSitePar != null and alarmSitePar != ''">
            AND alarm_site = #{alarmSitePar }
        </if>
        order by id desc
    </select>

    <!-- 根据条件查询告警列表数据 -->
    <select id="listPageAlarmRecord" parameterType="map" resultMap="baseResultMap">
        select id, terminal_id, CONCAT(#{staticIP}, img_path) as img_path, alarm_msg,
        alarm_time, alarm_site, alarm_type, alarm_category, dealstatus
        , dealRole, depId, depBianma, depName, CONCAT(#{staticIP}, thumbnailPath) as thumbnailPath
        from <include refid="tableName"></include>
        where 1=1
        <if test="startTime !=null and startTime != ''">
            AND alarm_time &gt;= #{startTime }
        </if>
        <if test="endTime != null and endTime != ''">
            AND alarm_time &lt;= #{endTime }
        </if>
        <if test="alarmType != null and alarmType != ''">
            AND alarm_type = #{alarmType }
        </if>
        <if test="alarmSite != null and alarmSite != ''">
            and alarm_site like CONCAT('%',#{alarmSite},'%')
        </if>
        order by id desc
    </select>

	<!-- 告警信息入库 -->
	<insert id="save" parameterType="com.mbhyggfwpt.entity.AlarmRecord" useGeneratedKeys="true" keyProperty="id">
        insert into
		<include refid="tableName"></include>
		(
        <include refid="Field"></include>
        )
        values (#{id,jdbcType=BIGINT}, #{terminalId,jdbcType=BIGINT}, #{imgPath,jdbcType=VARCHAR},
        #{alarmMsg,jdbcType=VARCHAR}, #{alarmTime,jdbcType=TIMESTAMP},#{alarmSite,jdbcType=VARCHAR},
        #{alarmType,jdbcType=VARCHAR}, #{alarmCategory,jdbcType=VARCHAR}, #{typecode,jdbcType=VARCHAR},
        #{thumbnailPath,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{imageMd5,jdbcType=VARCHAR}, #{imageSize,jdbcType=INTEGER},
        #{imageName,jdbcType=VARCHAR}, #{imageExt,jdbcType=VARCHAR}, #{area_sign,jdbcType=VARCHAR},
        #{dealStatus,jdbcType=VARCHAR}, #{dealRole,jdbcType=VARCHAR}, #{addId,jdbcType=VARCHAR},
        #{addName,jdbcType=VARCHAR}, #{aqjcId,jdbcType=BIGINT}, #{aqjcDetailIds,jdbcType=VARCHAR},
        #{processId,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR},#{depId,jdbcType=VARCHAR},
        #{depBianma,jdbcType=VARCHAR},#{depName,jdbcType=VARCHAR},
        #{bmpimgPath,jdbcType=VARCHAR}, #{alarmTerminalId,jdbcType=VARCHAR})
    </insert>

    <!-- 在一段时间是否有巡更数据 -->
    <select id="isExistXungeng" parameterType="map" resultMap="baseResultMap">
        select id, terminal_id, CONCAT(#{staticIP}, img_path) as img_path, alarm_msg,
        alarm_time, alarm_site, alarm_type, alarm_category, dealstatus
        , dealRole, depId, depBianma, depName, CONCAT(#{staticIP}, thumbnailPath) as thumbnailPath
        from <include refid="tableName"></include>
        where 1=1
        <if test="startTime !=null and startTime != ''">
            AND alarm_time &gt;= #{startTime }
        </if>
        <if test="endTime != null and endTime != ''">
            AND alarm_time &lt;= #{endTime }
        </if>
        <if test="alarmType != null and alarmType != ''">
            AND alarm_type = #{alarmType }
        </if>
        order by id desc
    </select>

    <!--修改巡更时间和地点-->
    <update id="updateAlarmRecord"  parameterType="com.mbhyggfwpt.entity.AlarmRecord" >
        update
        <include refid="tableName"></include>
        <set>
            <if test="depName != null" >
                depName = #{depName,jdbcType=VARCHAR},
            </if>
            <if test="depBianma != null" >
                depBianma = #{depBianma,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 在一段时间是否有巡更数据 -->
    <select id="getXungengTime" parameterType="map" resultType="com.mbhyggfwpt.entity.XungengTime">
        select id, startTime, endTime
        from xungengTime
        where 1=1
        <if test="currentTime !=null and currentTime != ''">
            AND #{currentTime} >= startTime
        </if>
        <if test="currentTime != null and currentTime != ''">
            AND endTime >= #{currentTime}
        </if>
    </select>

</mapper>