<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unitsLink.mapper.UserMapper" >

  <sql id="Base_Column_List" >
   userId, username, password,serialNum,secretKey
  </sql>

  <!--登录-->
  <select id="login" parameterType="map" resultType="java.lang.Integer" >
    select count(*)
    from user
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>

  <!--注册-->
  <insert id="register" parameterType="map" >
    insert into user (username, password,serialNum,secretKey,terminalType)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{serialNum,jdbcType=VARCHAR}
    , #{secretKey,jdbcType=VARCHAR}, #{terminalType,jdbcType=VARCHAR})
  </insert>

  <!--判断用户名是否存在-->
  <select id="isRegister" parameterType="map"  resultType="java.lang.Integer">
    select count(*)
    from user
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>

  <!--判断-->
  <select id="getUserBySerialnum" parameterType="map"  resultType="com.unitsLink.entity.User">
    select *
    from user
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>

  <!-- 更新终端最后在线时间 -->
  <update id="updateUser" parameterType="map">
    update user
    set
    <if test="lastOnlineTime != null" >
        lastOnlineTime = #{lastOnlineTime,jdbcType=VARCHAR},
    </if>
    <if test="status != null" >
        status = #{status,jdbcType=VARCHAR}
    </if>
    where serialNum 	= #{serialNum,jdbcType=VARCHAR}
  </update>

  <!--获取所有用户-->
  <select id="getUserList" parameterType="map"  resultType="com.unitsLink.entity.User">
    select * from user
  </select>

</mapper>